<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card landing">
        <div class="row">
          <div class="col-6 d-flex justify-content-center p-0">
            <img
              src="../../../../assets/img/headers.png"
              class="headerimg"
              alt=""
            />
          </div>
          <div class="col-6 d-flex justify-content-center p-0">
            <div class="text-center thought">
              "प्रत्येकाने शिक्षण घेतले पाहिजे. कारण युद्धाच्या वेळी ज्या गोष्टी
              सामर्थ्याने मिळवता येत नाहीत त्या ज्ञान आणि युक्तीने मिळवता येतात.
              आणि शिक्षणातून ज्ञान प्राप्त होते."
              <div class="text-center name">- छत्रपती शिवाजी महाराज</div>
            </div>
          </div>
        </div>
        <div class="float">
          <p class="text1">जय शिवाजी</p>
          <p class="text2">जय भवानी </p>
          <p class="text3">जय शिवराय </p>
          <p class="text4">जय जिजाऊ </p>
          <p class="text5">जय शिवाजी</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="card raje" data-aos="slide-up" data-aos-duration="1000">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-xs-6">
          <p class="head">राजा</p>
          <p class="text">
            शिवाजी शहाजी भोसले (१९ फेब्रुवारी, १६३० - ३ एप्रिल १६८०), छत्रपती
            शिवाजी महाराज म्हणून प्रसिद्ध, हे एक भारतीय राजे आणि मराठा
            साम्राज्याचे संस्थापक होते. विजापूरच्या ढासळत्या आदिलशाहीमधून
            शिवरायांनी स्वतःचे स्वतंत्र राज्य निर्माण करून मराठा साम्राज्याची
            स्थापना केली. इ.स. १६७४ मध्ये रायगड किल्ल्यावर औपचारिकपणे छत्रपती
            म्हणून त्यांचा राज्याभिषेक करण्यात आला. आपल्या आयुष्यादरम्यान,
            शिवाजीने मुघल साम्राज्य , गोलकोंडाची सल्तनत , विजापूरची सल्तनत आणि
            युरोपियन वसाहतवादी शक्तींशी युती आणि शत्रुत्व दोन्ही केले .
            पुरंदरच्या लढाईनंतर , शिवाजीने मुघल सरदाराची भूमिका स्वीकारून आणि
            थोड्या कालावधीसाठी साम्राज्याच्या वतीने लष्करी मोहिमा हाती घेऊन,
            मुघल साम्राज्याशी युद्ध केले. शिवाजीच्या लष्करी सैन्याने मराठा
            प्रभाव क्षेत्राचा विस्तार केला, किल्ले ताब्यात घेतले आणि बांधले आणि
            मराठा नौदल तयार केले . शिवाजीने सुसंरचित प्रशासकीय संस्थांसह सक्षम
            आणि प्रगतीशील नागरी प्रशासन स्थापन केले. त्यांनी प्राचीन हिंदू
            राजकीय परंपरा, न्यायालयीन अधिवेशने पुनरुज्जीवित केली आणि मराठी आणि
            संस्कृत भाषेच्या वापराला चालना दिली , कोर्टात आणि प्रशासनात फारसीची
            जागा घेतली. स्त्रियांबद्दलच्या त्याच्या शौर्यपूर्ण
            वागणुकीबद्दल स्तुती, शिवाजीने सर्व जाती आणि धर्मांच्या लोकांना,
            मुस्लिमांसह आणि युरोपियन, त्याच्या प्रशासनात आणि सशस्त्र
            दलांमध्ये नियुक्त केले.
            <b class="more" (click)="navigateTo('king')">पुढे वाचा</b>
          </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-6 d-flex justify-content-center">
          <img
            src="../../../../assets/img/Shivaji_British_Museum.png"
            class="rajeimg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="card army" data-aos="slide-up" data-aos-duration="1000">
      <div class="row">
        <div class="col-12 head">सैन्य</div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 colitem" (click)="navigateTo('army')">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="../../../../assets/army/bahirji_naik.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="flip-card-back">
                <p class="title">बहिर्जी नाईक</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 colitem" (click)="navigateTo('army')">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="../../../../assets/army/Baji_prbhu_Deshpande.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="flip-card-back">
                <p class="title">बाजीप्रभू देशपांडे</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 colitem" (click)="navigateTo('army')">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="../../../../assets/army/tanhaji malusare.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="flip-card-back">
                <p class="title">तान्हाजी मालुसरे</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 colitem" (click)="navigateTo('army')">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="../../../../assets/army/murarbajideshpande.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="flip-card-back">
                <p class="title">मुरारबाजी देशपांडे</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 colitem" (click)="navigateTo('army')">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="../../../../assets/army/netaji_palkar.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="flip-card-back">
                <p class="title">नेताजी पालकर</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 colitem" (click)="navigateTo('army')">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="../../../../assets/army/yesaji kank.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="flip-card-back">
                <p class="title">येसाजी कंक</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 colitem" (click)="navigateTo('army')">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="../../../../assets/army/prataprao_gurjar.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="flip-card-back">
                <p class="title">प्रतापराव गुजर</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 colitem" (click)="navigateTo('army')" >
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="../../../../assets/army/farzand.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="flip-card-back">
                <p class="title">कोंडाजी फ़र्जंद</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="card coronation" data-aos="slide-up" data-aos-duration="3000">
      <p class="text">
        छत्रपती शिवाजी महाराजांनी ज्येष्ठ शुद्ध त्रयोदशी शालिवाहन शके १५९६
        म्हणजेच ६ जून १६७४ <b class="more" (click)="navigateTo('/coronation')">पुढे वाचा</b>
      </p>
      <p class="title" (click)="navigateTo('/coronation')">राज्याभिषेक</p>
    </div>
  </div>
</div>
