<div class="container-fluid p-0">
  <div class="row justify-content-center">
    <div class="row py-2">
      <div class="col-12 d-flex justify-content-center">
      <img src="../../../../assets/img/logo1.png" class="img" alt="" />
      </div>
    </div>
    <div class="row py-2">
      <div class="col-12 d-flex justify-content-center head">
        <p (click)="navigateTo('home')">मुख्यपृष्ठ </p>
        <p (click)="navigateTo('king')">राजा</p>
        <p (click)="navigateTo('army')">सैन्य</p>
        <p (click)="navigateTo('coronation')">राज्याभिषेक</p>
        <p (click)="navigateTo('family')">कुटुंब</p>
      </div>
    </div>
    <div class="horizontal-line" style="width: 100%"></div>

    <div class="row py-2">
      <div class="col-12 bottom">
        <h6 class="head">आमच्याशी संपर्क साधा</h6>
        <a
          href="https://www.facebook.com/FromStudentToProfessional"
          class="media-icon"
        >
          <i class="fa-brands fa-square-facebook"></i>
        </a>
        <a
          href="https://www.instagram.com/s2p_edutech/?igshid=YmMyMTA2M2Y%3D"
          class="media-icon"
        >
          <i class="fa-brands fa-square-instagram"></i>
        </a>
        <a
          href="https://www.linkedin.com/company/s2p-edutech/"
          class="media-icon"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a
          href="https://www.youtube.com/channel/UCG2s3-FDGCNho2ca2Ofe3oQ"
          class="media-icon"
        >
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>
</div>
